<!DOCTYPE html>
<html>
  <head>
    <title>AirPikachu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>


    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

<!-- Debugging -->
    <!-- <script>
      <% flash.each do |key, value| %>
      <% type = key.to_s.gsub('alert','error').gsub('notice','success') %>
          console.log('Login type is <%= key %>');
          console.log('Login message is <%= value %>');
      <% end %>
    </script> -->


    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
